<style>
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Oldenburg');

h1 {
	font-family: 'Oldenburg', cursive;
	font-weight: bold;
}

a {
	color: #397c92;
	text-decoration: none;
	font-family: 'Noto Sans', sans-serif;
	
}
a:hover {
    color: #90c3d4;
	text-decoration: none;
	font-family: 'Noto Sans', sans-serif;
}

#intro {
    word-wrap: break-word;
    position:justify;
    font-family: 'Noto Sans', sans-serif;
    width: 75%;
    padding: 10px 10px 10px 10px;
    height: auto;
    overflow-x: auto;
    color: #656565;
	
}

table {
		margin-top:7px;
		margin-bottom:7px;
        -moz-border-radius:5px;
		border-radius: 5px;
        
    }

.respo {
  height: auto;
  width: 100%;
  max-width: 300px;
}

.400{
  height: auto;
  width: 100%;
  max-width: 400px;
}

.460{
  max-width: 460px;
  height: auto;
  width: auto\9; /* ie8 */
}

.sideby{
  max-width: 22%;
  height: auto;
  width: auto\9; /* ie8 */
}

#blog {
    height: 10px;
}

@media (max-width: 500px) {
     .sideby{
		max-width: 40%;
		height: auto;
		width: auto\9; /* ie8 */
}
    }
	
<!-- fader -->
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fader {
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards; 
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:3s;
	-moz-animation-duration:3s;
	animation-duration:3s;
}


</style>
